loguru
fastapi
uvicorn

--index-url https://pypi.fury.io/joaogambaro/
--extra-index-url https://pypi.org/simple/
modelo_body_performance


#git push heroku testbranch:main
#heroku git:remote -a frozen-everglades-07476
